<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fantastic Fitness Tracker</title>
  <link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
</head>
<body class="background">
<main class = "carosel">
<center>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="  https://c4.wallpaperflare.com/wallpaper/206/268/839/pose-muscle-muscle-rod-press-hd-wallpaper-preview.jpg" style="height:800; width:300 " class="d-block w-75" alt="fantastic fitness">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome to the BeFit Fitness Tracker</h5>
        <p>We are thrilled to welcome you and can't wait for you to begin your adventure on this site! Take a peek at the next view sliders to see what this site has to offer!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://c4.wallpaperflare.com/wallpaper/199/924/33/muscle-muscle-bodybuilding-press-wallpaper-preview.jpg" style="height:800; width:300" class="d-block w-75" alt="bench press">
      <div class="carousel-caption d-none d-md-block">
        <h5>Weightlifting</h5>
        <p>Our team created a fantastic solution for the user to design their own exercises. As well as the ability to save previous exercises for later use. There would be no need for notebooks since you will be able to observe your improvement via your repetitions and weight.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://cdn.i-scmp.com/sites/default/files/styles/768x768/public/d8/images/methode/2020/08/07/2670820e-d79c-11ea-a9df-dfa023813e67_image_hires_185728.jpg" style="height:800; width:300" class="d-block w-75" alt="cardio">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cardio</h5>
        <p>If the user picks cardio for that day, similar to weight lifting, the user may select whatever cardio (running, cycling, etc.) and then store their time and distance for that specific activity.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</center>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>