.background {
  background-image: url(../images/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  color: white;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h5 {
  color: white;
  font-size: x-large;
  text-decoration: underline;
}

.login {
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 6px 8px black;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.signup {
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 6px 8px black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgb(240, 127, 255)
}


.signup {
  background-color: rgba(240, 127, 205, 255);
}


img {
  height: 750px;
  width: 800px;
}

.carousel-caption {
  background-color: lightgray;
}

#title {
  font-size: 55px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 25px;
  float: 50%
}

nav {
  font-size: 35px;
  text-decoration: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(90, 231, 231);
}

.carousel-caption {
  background-color: rgb(214, 205, 205);
}

.placeholder {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  transition: all 2s;
  font-size: 1.55rem;
  color: lighten;
}

input {
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 3.5px 5.5px black;
}

.form-input {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 500px;
  height: 50px;
  margin-top: 15px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

#submit {
  background-color: white;
  width: 220px;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 40px;
  font-size: 25px;
  background-color: white;
  color: #fff;
  border-radius: 10px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.submit:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btn:hover,
.btn:active {
  letter-spacing: 5px;
}

.btn:after,
.btn:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn:hover:after,
.btn:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

#link {
  letter-spacing: 0;
  color: white;
  margin-left: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#link:hover,
#link:active {
  letter-spacing: 3px;
}

#link:after,
#link:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 200ms ease-in-out;
  width: 0;
}

#link:hover:after,
#link:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 400ms ease-in-out;
}

#link:hover:before {
  bottom: auto;
  top: 0;
}


/*about us page*/

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.card {
  float: left;
  padding: 10px;
  margin: 10px;
  height: 500px;
  box-shadow: 6px 8px black;
  border-radius: 30px;
}

.person {
  width: 235px;
  height: 250px;
  border-radius: 50px;
  opacity: 7;
}

h3 {
  padding-top: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black
}

.card p {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.cardContainer:after {
  content: "";
  display: table;
  clear: both;
}

.social-icons {
  padding: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin: 0.25em;
  position: relative;
  font-size: 35px;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.2em;
  left: .3em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, rgb(247, 167, 48), rgb(236, 100, 9));
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.0);
  -ms-transform: scale(2.0);
  -webkit-transform: scale(2.0);
  color: aquamarine ;
  background: -webkit-linear-gradient(45deg, rgb(9, 236, 141), rgb(9, 236, 141));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.carousel-caption {
  color: black;
  background-color: rgb(240, 127, 255)
}

@media screen and (max-width: 1000px) {
  img {
      height: 400px;
      width: 500px;
      opacity: .6;
  }
}

@media screen and (max-width: 400px) {
  img {
      height: 500px;
      width: 600px;
      opacity: .6;
  }
}

@media screen and (max-width: 400px) {
  #title,
  .nav {
      font-size: 25px;
  }
}

@media screen and (min-width: 1500px) {
  .person {
      width: 280px;
      height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .person {
      width: 320px;
      height: 250px;
  }
}

@media screen and (min-width: 600px) {
  nav {
      font-size: x-large;
  }
}

@media screen and (max-width: 600px) {
  .card {
      width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .login,
  .signup {
      border-width: none;
      border-radius: none;
      border-style: none;
      box-shadow: none;
      padding-top: none;
      padding-bottom: none;
      margin-left: none;
      margin-right: none;
  }
}

@media screen and (max-width: 400px) {
  .form-input {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      height: 50px;
      margin-top: 15px;
      width: 200px;
  }
}